<div class="sidebar">
  <%= render partial: 'map' %>
  <%= render partial: 'filters' %>
</div>

<div class="results-panel">
  <% if @venues.empty? %>
    No venues found.
  <% else %>
    <div class="results-header">
      <span class="sort-container">
        sort by <button id="sortBy" class="dropdown-trigger sort-by-dropdown">Price</button>
      </span>
      <span class="search-matching-count">
        <%= @venues.length %> venues
      </span>
      <% if not @outside_counts.keys.empty? %>
        <span class="search-outside-count">
          (<% @outside_counts.each do |k,v| %><%= v %><% end %>)
        </span>
      <% end %>
    </div>
    <ul class="venue-list">
    <% @venues.each do |v| %>
      <li class="venue-list-item">
        <div class="venue-list-item-image image-carousel first-image" data-venue-id="<%= v.id %>" data-venue-images="<%= v.images.to_json(:only => [:id]) %>">
          <img class="image-carousel-image" src="/assets/vendors/<%= v.images[0].id %>.jpg" />
        </div>
        <div class="package-details">
          <div class="package-price">
            <%= number_with_precision(v.price, :precision => 0) %>
          </div>
          <div class="package-price-label">minimum package</div>
          <div class="package-max-people">
            <div class="package-max-people-count"><%= v.max_people %></div>
            <div class="package-max-people-label">people max</div>
          </div>
          <button class="bookmark">BOOKMARK</button>
        </div>
        <%= link_to v.name, venue_path(v), class: 'venue-name' %>
        <div class="venue-location"><%= v.city %></div>
        <div class="venue-options">
          <% v.venue_features.each do |feat| %>
            <img src="/assets/venue/<%= feat.icon_filename %>" title="<%= feat.name %>" alt="<%= feat.name %>" />
          <% end %>
        </div>
        <div class="venue-reviews-summary">
          <div class="venue-review-message">"Lorem ipsum doler sit amet..."</div>
          <div class="venue-review-stars" title="<%= v.rating %> <%= v.rating == 1 ? 'star' : 'stars'%>">
            <% for i in 1..v.rating %>
              <img src="/assets/venue/star_on.png" />
            <% end %>
          </div>
          <%= link_to(venue_path(v), { :class => 'venue-reviews-link' }) do %>
            <%= v.review_count %> reviews
          <% end %>
        </div>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>

<% content_for :script do %>
  <script>
    jQuery(function ($) {
      function changeImage(ev) {
        var target = $(ev.target);
        var changeBy = target.closest('.carousel-button').data('change-by');
        var carousel = target.closest('.image-carousel');

        var newIndex = carousel.data('current-image-index') + changeBy;
        var images = carousel.data('images');
        var image = carousel.find('.image-carousel-image');
        image.attr('src', '/assets/vendors/' + images[newIndex].id + '.jpg');
        carousel.data('current-image-index', newIndex);
        carousel.toggleClass('first-image', newIndex == 0);
        carousel.toggleClass('last-image', newIndex == images.length - 1);
      }

      function carouselize(carousel, images) {
        carousel.data('images', images);
        carousel.data('current-image-index', 0);

        var previousButton = $('<div class="carousel-button carousel-button-previous"></div>')
          .data('change-by', -1)
          .click(changeImage);
        var nextButton = $('<div class="carousel-button carousel-button-next"></div>')
          .data('change-by', 1)
          .click(changeImage);

        carousel
          .append(previousButton)
          .append(nextButton);

      }

      $('.dropdown-trigger').button();
      $('.bookmark').button();

      $('.image-carousel').each(function (i, el) {
        var carousel = $(el);
        var images = JSON.parse(carousel.attr('data-venue-images'));
        console.log('Images ' + i + ': ');
        console.log(images);
        if (images.length > 1) {
          carouselize(carousel, images);
        }
      });
    });
  </script>
<% end %>
