<div class="home-search-container">
  <%= form_for :query, :as => :post, :url => 'venues/search', :html => { :class => 'home-search' }  do |f| %>
    <%= f.text_field :budget, :class => 'home-search-budget', :placeholder => 'Budget' %>
    <div id="dateRangeContainer" class="home-search-date-range">
      <%= f.text_field :date_from, :class => 'home-search-date-from date-input', :placeholder => 'Start Date' %>
      <img src="/assets/datepicker_icon.png" class="datepicker-icon" />
      <%= f.text_field :date_to, :class => 'home-search-date-to date-input', :placeholder => 'End Date' %>
      <img src="/assets/datepicker_icon.png" class="datepicker-icon" />
    </div>
    <%= f.submit 'Find Venues', :class => 'home-search-submit' %>
  <% end %>
</div>

<div id="rangePickerContainer" class="date-range-picker-container">
  <div id="rangeFromContainer" class="date-range-from-container"></div>
  <div id="rangeToContainer" class="date-range-to-container"></div>
  <div class="date-range-button-container">
    <button type="button" id="closeRangePicker">Close</button>
  </div>
</div>

<div class="selling_point selling_point_simplify">
  <h1>SIMPLIFY</h1>
  <p>
    Search Napa Valley wedding venues in one clean, user-friendly site with multiple filters to meet your needs.  There's no need to browse through countless sites when you use Joyvite.
  </p>
</div>

<div class="selling_point selling_point_money">
  <h1>SAVE MONEY</h1>
  <p>
    Couples can spend hundreds of dollars hiring a wedding planner to find them a venue.  Save money with one click.
  </p>
</div>

<div class="selling_point selling_point_connect">
  <h1>CONNECT</h1>
  <p>
    Connect directly with wedding venue managers, schedule site visits, and even make tentative bookings.  Share bookmarked results with friends and family as you plan your special day.
  </p>
</div>

<% content_for :script do %>
<script>
  jQuery(function ($) {
    rangeContainer = $('#dateRangeContainer');
    pickerContainer = $('#rangePickerContainer');
    fromPicker = $('#rangeFromContainer');
    toPicker = $('#rangeToContainer');

    fromPicker.datepicker({
      changeYear: true,
      minDate: new Date(),
      onSelect: function (v) {
        $('#query_date_from').val(v);
        var d = new Date(v);
        var toMin = new Date(d.getFullYear(), d.getMonth(), d.getDate() + 1);
        var toDate = toPicker.datepicker('getDate');
        if (toDate < toMin) {
          toPicker.datepicker('setDate', toMin);
        }
        toPicker.datepicker('option', 'minDate', toMin);
      }
    });
    $('#rangeToContainer').datepicker({
      changeYear: true,
      minDate: new Date(),
      onSelect: function (v) {
        $('#query_date_to').val(v);
        var d = new Date(v);
        var fromMax = new Date(d.getFullYear(), d.getMonth(), d.getDate() - 1);
        var fromDate = fromPicker.datepicker('getDate');
        if (fromDate > fromMax) {
          fromPicker.datepicker('setDate', fromMax);
        }
        fromPicker.datepicker('option', 'maxDate', fromMax);
      }
    });
    $('#closeRangePicker').button().click(function () {
      pickerContainer.hide();
    });

    rangeContainer.bind('click', function () {
      var offset = rangeContainer.offset();
      pickerContainer
        .css({
          top: offset.top + rangeContainer.outerHeight(),
          left: offset.left
        })
        .show();
    });

    $('body').click(function (ev) {
      var target = $(ev.target);
      if (target.closest('#dateRangeContainer,#rangePickerContainer,#ui-datepicker-div,.ui-datepicker-header').length > 0) {
        return;
      }
      pickerContainer.hide();
    });
  });
</script>
<% end %>
